.slider-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slides-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  transition: transform 1s ease-in-out; /* Smooth slide transition */
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Animation for opacity */
}

.slide.active {
  opacity: 1;
}

.slide.inactive {
  opacity: 0;
}

.slide-content {
  text-align: center;
  color: white;
  padding: 20px;
  opacity: 1;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.199);
  box-shadow: 0 8px 32px 0 rgba(135, 31, 126, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

/* Delay the text animation .slide-content.show {
  opacity: 1;
  transform: translateY(0);
} */

.slide-heading {
  font-size: 4rem;
  font-weight: bold;
  animation: fadeInUp 1s ease-in-out;
}

.slide-description {
  font-size: 1.5rem;
  color: #fff;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 5px;
  animation: fadeInUp 1s ease-in-out;
}

.slide-content .slide-button {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
  padding: 5px 15px;
  background-color: transparent;
  border-bottom: 1px solid #199bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  animation: fadeInUp 1s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  transition: all 0.8s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.8);
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

/* Keyframes for animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .slide-heading {
    font-size: 2.5rem;
  }

  .slide-description {
    font-size: 0.9rem;
    width: 100%;
  }
}
